* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
    }

    //per firefox
    body {
      scrollbar-width: none;
   }
   //per chrome
   ::-webkit-scrollbar { display: none; }

  
 
  

  