* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: roboto;
}

.image-song:hover {
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}
.timer-container:hover {
  cursor: pointer;
}
.title-content:hover {
  cursor: pointer;
}
.btn-upgrade:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.over-play {
  display: block;
  width: 100%;
  height: auto;
}

.image-sup {
  width: 100%;
  position: relative;
}
.overlay-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.over-img {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 25%;
  left: 25%;
}
.overlay-img:hover {
  opacity: 1;
}
.image-sup:first-child:hover {
  opacity: 80%;
}
p:hover {
  cursor: pointer;
  color: white;
}
.desc:hover {
  cursor: pointer;
  color: white;
}
.title-content:hover {
  color: white;
}
.evidenza {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  border: 1px solid green;
}
.perc-volume:hover {
  border-color: green;
}
.pallino {
  position: absolute;
  left: 30%;
}

.box-volume {
  position: relative;
}
.volume {
  
  align-items: center;
}
.overlay-pal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.icon-volume {
  
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}
.volume-destra {
  
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  position: relative;
  justify-content: left;
}



